img {
  border-radius: 26%;
}

body {
    font-family: 'Karla',  sans-serif;
    overflow-x: hidden;
}

header {
    text-align: center;
    background:  none;
    color:#ababab;
}

header .intromsg {
    padding-top: 30px;
    padding-bottom: 20px;
}

header .repo {
    display: block;
    padding-top:10px;
    font-family: "Fredoka One", sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

@media (min-width: 768px) {
    header img {
        max-width: 30%; left: 35%;
        margin-top: 1%;
    }
    header .intromsg {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    header .repo {
        padding-top:15px;
        font-size: 2.5em;
    }

    header .dono {
        padding-top: 2px;
        font-size: 1em;
    }
}

header .dono {
    display: block;
    padding-top:2px;
    font-family: "Karla", sans-serif;
    text-transform: none;
    font-size: 1.2em;
}


header .btn{
    padding-top:10px;
}

body {
        background-color: #2f2f2f;
        color: white;
}

.btn-outline {
    color:#02b4d4;
    font-size: 1.1em;
    border: solid 2px #4683d4;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: -15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: black;
    background:#4683d4;
    border: solid 1px #455d7d;
}
footer{
    padding-top: 20px;
    background-color: none;
    text-align: center;
    height:80px;
}
footer .footer-above {
    padding-top: 10px;
    background-color: none;
}
.btn-social {
    display: inline-block;
    padding-top:2px;
    height: 50px;
    width: 50px;
    border: 1.5px solid #4683d4;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
